@font-face {
    font-family: 'BoogieNight';
    src: url('../public/BoogieNightsShadowNF.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@tailwind base;
@tailwind components;
@tailwind utilities;